
.products__container {
    width: 68%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    h1 {
        display: block;
        width: 100%;
    }
}