
.products__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-right: 1rem;
    margin-bottom: 3rem;

    h1 {
        display: block;
        text-align: center;
        padding-bottom: 1rem;
        width: 100%;
    }
}