
.products__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    h1 {
        display: block;
        text-align: center;
        padding-bottom: 1rem;
        width: 100%;
    }
}

.products__title{
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    width: 100%;
}