$primary-color:#d8e7f2;
$secondary-color: #f9f9f9;
$green : #025e25;
$orange: #ff6600;
$black: #212529;
$grey: #888;
$red: #c4051b;
$yellow: #ff9a17;
$purple: #8743ff;
$blue: #5a8dee;
$light-blue: rgba(90, 141, 238, 0.1803921569)