@import '../../variables/variables';


body {
    padding: 0 !important;
    margin: 0;
    box-sizing: border-box;

  }

  .products__wrapper {
    hr {
      color: $blue;
      height: 3px;
    }
  }


  .empty-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;

    img {
      width: 6rem;
      margin-bottom: 1rem;
    }
  }

  .hidden {
    display: none;
  }

  .blur {
    position: fixed;
    opacity: .8;
    filter: blur(5px);

    .navbar-container {
      position: static;
    }

    .title__row {
      margin: 5rem 3rem 1rem 2rem;
    }
  }



/* Media queries */
@media (max-width: 1480px){
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 1004px){
  .col-xxl-8 {
    flex: 1 1 auto;
    width: 100%;
  }
}

@media (min-width: 1481px) and (max-width: 1503px){
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 100%;
  }
}


@media (max-width: 1084px){
  .cart__name--row {
    width: 40%;
    height: 100%;
    padding: 20px;
  }  

  .cart {
    width: 60%;
  }
}


@media (max-width: 760px){
  .cart {
    width: 100%;
  }
}

@media (max-width: 1043px){
  .cart__name--row {
    font-size: .9rem;
  }
  
  .remove-btn {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}


