@import '../../variables/variables.scss';
@import url(//db.onlinewebfonts.com/c/ad7151f90039f421ef9eda4996cb65db?family=Avenir+LT+Pro+65+Medium);


body {
  margin: 0;
  padding: 0;
  font-family: "Avenir LT Pro 65 Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 328px;

  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
  }
}

.loginPage__wrapper {
  display: flex;
  flex-direction: column;
}

.login__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;


  .login__signin {
    background-color: $tertiary-color;
    margin: 3rem;
    padding: 1rem;
    box-shadow: 10px 20px 35px #3c3b515e;

    input {
      background-color: white;
    }
  }

  .login__signup {
    background-color: $tertiary-color;
    margin: 3rem;
    padding: 1rem;
    box-shadow: 10px 20px 35px #3c3b515e;

    input {
      background-color: white;
    }

    p {
      font-size: 1.1rem;
      text-align: justify;
    }

  }
}

.login__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $tertiary-color;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 10px 3px 70px 3px #3c3b5121;


}

.signin__icon {
  background-color: $blue !important;
}



/* Media queries */
@media (max-width: 1480px) {
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 1004px) {
  .col-xxl-8 {
    flex: 1 1 auto;
    width: 100%;
  }
}

@media (min-width: 1481px) and (max-width: 1503px) {
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 100%;
  }
}


@media (max-width: 1084px) {
  .cart__name--row {
    width: 40%;
    height: 100%;
    padding: 20px;
  }

  .cart {
    width: 60%;
  }
}


@media (max-width: 760px) {
  .cart {
    width: 100%;
  }
}

@media (max-width: 1043px) {
  .cart__name--row {
    font-size: .9rem;
  }

  .remove-btn {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}