@import '../../variables/variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    position: fixed;
    z-index: 100;
    padding: 0;
    margin: auto;

    nav {
        flex: 1;
        text-align: right;
    }
    
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    a {
        text-decoration: none;
        color: #ffffff;
    }
    
    p {
        color: #ffffff;
    }
    
    &__static{
        position: static;
        display: flex;
        flex-direction: column;
    }
}

.nav {
    display: flex;
    align-items: center;
    min-width: 342px;
    padding: 20px 20px 20px 20px;
    background: $black;
    color: #b5b5b5;
}

.nav-logged {
    padding-top: 0;
    padding-right: .6rem;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    margin-left: .8rem;
    margin-top: .3rem;
    color: white;
}

.menu-items {
    max-height: 0px;
    margin-bottom: 0 !important;
}


.search-form {

    margin-inline: 3rem;

    button {
        color: $blue;
        border-color: $blue;

        &:hover {
            background-color: $blue;
            border-color: $blue;
        }
    }
}

.nav-link {
    display: block;
    color: #ffffff;
    padding: 0.2rem !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-size: 1.2rem;

    svg{
        font-size: 1.8rem;
        color: $blue;
        margin-right: .2rem;
    }

    &.fav-link{
        &:hover{
            color: $red;
        }
    }

    &:hover {
        color: $primary-color;
    }
}

.login__user {
    background-color: $black;
    text-align: end;
    padding-right: 0.8rem;
    padding-top: 0.8rem;

    svg {
        font-size: 1.8rem;
        color: $blue;
        margin-right: .2rem;
    }
    span {
        margin-top: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        color: #ffffff;
    }
}


.mainPage__favIcon{
    font-size: 2.2rem;
    margin-top: .2rem;
    margin-right: 1.3rem;

    &:hover {
        color: $red;
    }
}


.cart__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.2rem;
    color: #ffffff;

    &:hover {
        cursor: pointer;
        transform: scale(1.09);
        color: $yellow;
    }

    span {
        padding-top: .3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.3rem;
        color: #ffffff;
    }
}

.product__added{
    animation-name: product-added;
    animation-duration: 1s;
}

.form-control {
    &:hover {
        cursor: pointer;
    }
}

@keyframes product-added {

    0% {transform: scale(1.3);}
    100% {transform: scale(1);}
}




/*Media query for search bar*/
@media only screen and (max-width: 782px) {
    .search-form {
        display: none;
    }
}


/* media query for menu */

@media only screen and (max-width: 1112px) {

    .search-form {
        margin-left: 2.5rem;
    }

    nav ul {
        position: absolute;
        top: 110px;
        left: 0;
        z-index: 1;
        background: $black;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff !important;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

}

@media only screen and (max-width: 443px) {
    .mainPage__favIcon{
        font-size: 2.2rem;
        margin-top: .2rem;
        margin-right: .2rem;
    }
}